<header>
    <div class="header_container base_width base_right_left_padding">
        <div class="header_logo">
            <a href="/">HeaderLogo</a>
        </div>
        <form action="" class="header_search">
            <input type="text" placeholder="Search...">
            <button>
                <img src="" alt="">
                Search
            </button>
        </form>
        <div class="header_user_actions">
            <a class="header_button" href="/signup">
                <button>Sign Up</button>
            </a>
            <a class="header_button" href="/signin">
                <button>Sign In</button>
            </a>
        </div>
    </div>
</header>