<div class="post_item">
    <div class="post_container">
        <div class="post_top">
            <img src="/images/post/post001.webp" alt="" class="post_img">
        </div>
        <div class="post_bottom">
            <div class="post_title">Обзор Report Manager от Webix</div>
            <div class="post_preview">Осень 2020 года стала плодотворным временем для специалистов Webix. Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим ег</div> 
            <div class="post_user_actions">
                <div class="date"><img src="/images/icons/date.svg" alt=""><span>26.02.2025</span></div>
                <div class="views"><img src="/images/icons/visibility.svg" alt=""><span>21</span></div>
                <div class="comments"><img src="/images/icons/message.svg" alt=""><span>4</span></div>
                <div class="categories"><img src="/images/icons/forums.svg" alt=""><span>Веб-разработка</span></div>
                <div class="author"><img src="/images/icons/person.svg" alt=""><span>t.daurim</span></div>
            </div>
        </div>
    </div>
</div>