<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Home'}) %>
<body>
    <header>
        <div class="header_container base_width">
            <div class="header_logo">
                <a href="">HeaderLogo</a>
            </div>
            <form action="" class="header_form">
                <input type="text">
                <button>
                    <img src="" alt="">
                    Search
                </button>
            </form>
            <div class="header_user_actions"></div>
        </div>
    </header>
    <p>It is Home page!</p>
</body>
</html>